{% extends 'awward/base.html' %}
{% load static %}
{% block content %}

<section class="hero-section">
<div class="hero-slider owl-carousel">
      {% for project in projects %}
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>{{project.author}}</span> {{project.title}}.</h2>
                            <p>{{project.description|truncatechars_html:170}}. </p>
                            <a href="{{ project.url }}" class="site-btn">live site</a>
                            <a href="{% url 'project' project.id %}" class="site-btn sb-c2">Review</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="{{ project.photo.cdn_url }}" alt="maundu">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> 
        {%endfor%}
        
    </div>
</section>
<section class="playlist-section spad">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Playlists</h2>
        </div>                                            
        <div class="clearfix"></div>
        {%for project in projects%}
        <div class="row playlist-area">
            <div class="mix col-lg-3 col-md-4 col-sm-6 genres">
                <div class="playlist-item">
                    <img src="{{project.photo.cdn_url}}" alt="">
                    <h5>Live Concerts</h5>
                </div>
            </div>

        </div>
        {%endfor%}
    </div>
</section>
<!-- Playlist section end -->

<!-- Help section end -->
<section class="help-section spad pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title mb-0 pb-4">
                    <h2>Need Help to find Project? </h2>
                </div>
                <p>We value your feedback </p>
            </div>
            <div class="col-lg-6">
                <div class="d-flex h-100 align-items-end">
                    <form class="search-form" action="{% url 'search' %}" method="get">
                        <input type="text" placeholder="Hit it" name="title">
                        <button>Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}