body {
    background: #fafafa;
    color: #333333;
   
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  .row{
    
    width:100% ;
  }
  .content-section {
    margin-top:20px ;
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  .overlay{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin:0px;
    padding:0px;
}
.over{
    background-color: rgba(0,0,0,0.5);

}
#design{
    color:white;
    border: 3px solid orange;
    border-radius: 50%;
    height:90px;
    width:90px;
    padding-left:20px;
    padding-top:20px;
    margin-right:10px;
    margin-left:70px;
}
.des,.des1,.des2,.des3{
    color:white;
    border-radius: 50%;
    height:78px;
    width:78px;
    padding-top:30%;
    font-size:17px;
}
.des{
    border: 3px solid orange;
}
.des1{
    border: 3px solid brown;
}
.des2{
    border: 3px solid blue;
}
.des3{
    border: 3px solid green;
}
.site-link{
    padding-top:-20px;!important

}
.mi{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

#usable{
    color:white;
    border: 3px solid blue;
    border-radius: 50%;
    padding-left:20px;
    padding-top:20px;
    height:90px;
    width:90px;
    margin-right:10px;
}
